<div>
    <h4>Info</h4>
    <ul class="list-unstyled">
        <li>
            <strong>Location</strong>
            : {{product.location}}
        </li>
        <li>
            <strong>Binomial name</strong>
            : <i>{{product.bi_name}}</i></li>
        <div ng-controller="mapCtrl">
            <p ng-if="product.map_id == 1" ng-bind-html="myHTML1"></p>
            <p ng-if="product.map_id == 2" ng-bind-html="myHTML2"></p>
            <p ng-if="product.map_id == 3" ng-bind-html="myHTML3"></p>
            <p ng-if="product.map_id == 4" ng-bind-html="myHTML4"></p>
        </div>
    </ul>
</div>
